<div class="bg-light m-4">
  <small class="h5 text-secondary">Share your book opinions</small>
<%= form_with model: @opinion, local: true do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h3><%= form.label :title %></h3>
    <%= form.text_area :title, placeholder: "Hamlet" %>
    <h4><%= form.label :body %></h4>
    <%= form.text_area :body, placeholder: "It's an excellent book" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
