<div class="col-7">
  <div class="bg-light rounded border gray mx-4 p-2">
    <p class="m-2 p-1 text-primary border-bottom gray">All opinions</p>
  <% opinions.each do |opinion| %>
  <div class="m-2">
    <%= avatar(opinion.user) %>
    <p class="mb-0"><%= opinion(opinion.user, opinion) %></p>
    <p class="text-secondary mb-1"><%= opinion.body %></p>
      <span><%= link_to 'Show', user_opinion_path(opinion.user, opinion) %></span>
      <span><%= link_to 'Edit', edit_opinion_path(opinion), method: :get %></span>
      <span><%= link_to 'Destroy', user_opinion_path(opinion.user, opinion), method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </div>
  <% end %>
  </div>
</div>
