<div class="row">
  <div class="col-9">

<p id="notice"><%= notice %></p>

<h1>Opinions</h1>
<%= render 'form', opinion: @opinion %>

  <div class="bg-light">
    <% if current_user.nil? %>
    <%= 'No book opinions' %>
    <% else %>
    <% @opinions.each do |opinion| %>
      <p><em><%= "#{opinion.user.fullname} said about " %></em>
        <%= link_to opinion.title, worldcat_link(opinion) %> </p>
      <p><%= opinion.body %></p>
        <span><%= link_to 'Show', user_opinion_path(opinion.user, opinion) %></span>
        <span><%= link_to 'Edit', edit_opinion_path(opinion), method: :get %></span>
        <span><%= link_to 'Destroy', user_opinion_path(opinion.user, opinion), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    <% end %>
    <% end %>
  </div>

<br>

<%= link_to 'New Opinion', new_user_opinion_path(user_id: current_user.id) unless current_user.nil? %>

  </div>
  <div class="col-3">
    <% unless current_user.nil? %>
      <% current_user.who_to_follow.each do |user| %>
        <p><b><%= user.fullname %></b></p>
        <p><b><%= follow(user, current_user) %></b></p>
      <% end %>
    <% else %>
    <%= 'New users' %>
    <% end %>
  </div>
</div>
