<% if current_user.nil? %>
  <%= render 'opinions/welcome' %>
<% else %>
<div class="row border-bottom gray m-0 p-0 align-items-end">
  <div class="col-2 bg-dark text-secondary m-0 p-0">
      <%= render 'layouts/follows' unless current_user.nil? %>
  </div>
  <div class="col-7 m-0 p-0">
      <span class="border-bottom border-primary m-0 p-0">OPINIONS</span>
  </div>
  <div class="col-3">
    <span>Who to follow</span>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-2 flex-column bg-dark text-secondary m-0 p-0">
    <div class="bg-primary p-2 d-flex align-self-center"><i class="material-icons text-light p-1" >home</i><%= link_to 'Home', root_path, class: 'text-light' %></div>
    <div class="p-2"><i class="material-icons text-light">person</i><%= link_to 'Profile', user_path(current_user), class: 'text-light' unless current_user.nil? %></div>
    <div class="p-2"><%= link_to 'Log out', signout_path, class: 'text-light', method: :delete, data: {confirm: 'Are you sure ?'} %></div>
  </div>
  <div class="col-7">
    <%= render 'form', opinion: @opinion unless current_user.nil? %>
  </div>
  <div class="col-3">
    <% current_user.who_to_follow.each do |user| %>
      <%= circle_avatar(user) %>
      <p><b><%= user.fullname %></b></p>
      <i class="material-icons"><%= follow(user, current_user) %></i>
    <% end %>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-2 flex-column bg-dark text-secondary m-0 p-0"">
    <div class="">
    </div>
  </div>
  <div class="col-7">
    <div class="">
      <p class="m-2 p-1 text-primary border-bottom gray">All opinions</p>
    </div>
    <% @opinions.each do |opinion| %>
    <div class="m-2">
      <%= avatar(opinion.user) %>
      <p class="mb-0"><%= opinion(opinion.user, opinion) %></p>
      <p class="text-secondary mb-1"><%= opinion.body %></p>
        <span><%= link_to 'Show', user_opinion_path(opinion.user, opinion) %></span>
        <span><%= link_to 'Edit', edit_opinion_path(opinion), method: :get %></span>
        <span><%= link_to 'Destroy', user_opinion_path(opinion.user, opinion), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<!-- <p id="notice"><%= notice %></p>
  <% if current_user.nil? %>
    <%= render 'opinions/welcome' %>
  <% else %>
  <div class="row">
    <div class="col-8">
      <span>Opinions</span>
    </div>
    <div class="col-4">
      <span>Who to follow</span>
    </div>
  </div>

    <div class="">
      <p class="m-2 p-1 text-primary border-bottom gray">All opinions</p>
    </div>
    <% @opinions.each do |opinion| %>
    <div class="m-2">
      <%= avatar(opinion.user) %>
      <p class="mb-0"><%= opinion(opinion.user, opinion) %></p>
      <p class="text-secondary mb-1"><%= opinion.body %></p>
        <span><%= link_to 'Show', user_opinion_path(opinion.user, opinion) %></span>
        <span><%= link_to 'Edit', edit_opinion_path(opinion), method: :get %></span>
        <span><%= link_to 'Destroy', user_opinion_path(opinion.user, opinion), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    </div>
    <% end %>
    <div class="col-3 border gray">
      <% unless current_user.nil? %>
      <span class="p-2 border-bottom gray"><%= "Who to follow" %></span
      <div class="row">
        <div class="col my-5">

      </div>
      <% else %>
      <div class="row">
        <span class="p-2 border-bottom gray"><%= 'New users' %></span
      </div>
      <div class="row">


      <% @last_users.each do |user| %>
      <div class="col my-5">
        <%= circle_avatar(user) %>
        <p><b><%= user.fullname %></b></p>

      <% end %>
      </div>
      <% end %>
    <% end %>
  </div>

  </div> -->
