<% if current_user.nil? %>
  <%= render 'opinions/welcome' %>
<% else %>
<div class="row m-0 p-0 align-items-stretch">
  <div class="col-2 bg-dark text-secondary m-0 p-0">
      <%= render 'layouts/follows' unless current_user.nil? %>
  </div>
  <div class="col-7 m-0 p-0 border-bottom align-self-end">
    <div class="">
      <span class="border-bottom border-primary m-0 p-0 text-secondary"><b>OPINIONS</b></span>
    </div>
  </div>
  <div class="col-3 border-left d-flex">
    <span class="align-self-end border-bottom text-secondary"><b>WHO TO FOLLOW</b></span>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-2 flex-column bg-dark text-secondary m-0 p-0">
    <div class="bg-primary p-2 d-flex align-self-center"><i class="material-icons text-light p-1" >home</i><%= link_to 'Home', root_path, class: 'text-light' %></div>
    <div class="p-2"><i class="material-icons text-light">person</i><%= link_to 'Profile', user_path(current_user), class: 'text-light' unless current_user.nil? %></div>
    <div class="p-2"><%= link_to 'Log out', signout_path, class: 'text-light', method: :delete, data: {confirm: 'Are you sure ?'} %></div>
  </div>
  <div class="col-7">
    <%= render 'form', opinion: @opinion unless current_user.nil? %>
  </div>
  <div class="col-3 border-left p-3">
    <%= render 'users/followers', followers: @followers %>
  </div>
</div>
<div class="row m-0 p-0">
  <div class="col-2 flex-column bg-dark text-secondary m-0 p-0"">
    <div class="">
    </div>
  </div>
  <%= render 'opinion', opinions: @opinions %>
</div>
<% end %>
