<div class="row">
  <div class="col-9">
<%= image_tag @user.cover.variant(combine_options: {resize: '600x256^', extent: '600x256', gravity: 'Center'}), class: 'cover' if @user.cover.attachment %>


<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @user.fullname %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<div class="bg-light">
  <% @user.opinions.each do |opinion| %>
    <p><em><%= "#{@user.fullname} said about " %></em>
      <%= link_to opinion.title, worldcat_link(opinion) %> </p>
    <p><%= opinion.body %></p>
      <span><%= link_to 'Show', user_opinion_path(@user, opinion) %></span>
      <span><%= link_to 'Edit', edit_opinion_path(opinion), method: :get %></span>
      <span><%= link_to 'Destroy', user_opinion_path(@user, opinion), method: :delete, data: { confirm: 'Are you sure?' } %></span>
  <% end %>
</div>
</div>
    <div class="col-3">
      <%= image_tag @user.avatar.variant(combine_options: {resize: '80x80^', extent: '80x80', gravity: 'Center'}), class: 'avatar rounded-circle m-2' if @user.avatar.attachment %>
      <p><b><%= @user.fullname %></b></p>
      <p><i class="material-icons"><%= follow(@user, current_user) %></i></p>
      <div class="row">
        <div class="col-3">
          <% @followers.each do |f| %>
          <%= circle_avatar(f.follower)%>
          <%= f.follower.fullname %>
          <i class="material-icons"><%= follow(f.follower, current_user) %></i>
          <% end %>
        </div>
      </div>
    </div>

</div>
