<!DOCTYPE html>
<html>
  <head>
    <title>BookOpinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="user">
      <%= yield %>
    </section>
    <main>
      <%= render 'opinions/index' %>
    </main>
  </body>
</html>
