<!DOCTYPE html>
<html>
  <head>
    <title>BookOpinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container m-0 p-0">
      <div class="row m-0">
        <div class="col-2 bg-dark text-secondary">
          <span><%= user_profile %></span>
          <div class="row m-0">
              <div class="col text-center">
                <span class="text-secondary"><strong><%= current_user_following %></strong></span>
                <small class="text-secondary">Following</small>
              </div>
              <div class="col text-center">
                <span class="text-secondary"><strong><%= current_user_followees  %></strong></span>
                <small class="text-secondary">Followers</small>
              </div>
          </div>
          <div class="row m-0 text-secondary">
            <ul>
              <li><%= link_to 'Log out', signout_path, method: :delete, data: {confirm: 'Are you sure ?'} %></li>
            </ul>
          </div>
        </div>
        <div class="col-10 p-0">
          <div class="row">
            <header class="col">
                <%= render 'layouts/header' %>
              </header>
          </div>
          <main class="container">
            <%= yield %>

          </main>

        </div>
      </div>
  </body>
</html>
