<!DOCTYPE html>
<html>
  <head>
    <title>BookOpinions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col-2 align-items-baseline bg-dark text-secondary p-0">
          <%= render 'layouts/profile' %>
      </div>
      <%= render 'layouts/header' %>
    </div>
    <%= yield %>

    <!-- <div class="row m-0 p-0">
        <div class="col-2 bg-dark text-secondary p-0">
          <div class="row m-0">
              <div class="col text-center">
                <span class="text-secondary"><strong></strong></span>
                <small class="text-secondary">Following</small>
              </div>
              <div class="col text-center">
                <span class="text-secondary"><strong> %></strong></span>
                <small class="text-secondary">Followers</small>
              </div>
          </div>
          <div class="row m-0 text-secondary">
            <div class='col flex-column p-0'>
              <div class="bg-primary p-2 d-flex align-self-center"><i class="material-icons text-light p-1" >home</i><%= link_to 'Home', root_path, class: 'text-light' %></div>
              <div class="p-2"><i class="material-icons text-light">person</i><%= link_to 'Profile', user_path(current_user), class: 'text-light' unless current_user.nil? %></div>
              <div class="p-2"><%= link_to 'Log out', signout_path, class: 'text-light', method: :delete, data: {confirm: 'Are you sure ?'} %></div>
            </div>
          </div>
        </div>
          <main class="container">


          </main>

        </div>
      </div> -->
  </body>
</html>
